PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/coaching_crm
JWT_SECRET=your_super_secret_jwt_key
CLIENT_URL=http://localhost:5173
SUPER_ADMIN_EMAIL=admin@tutiondesk.com
SUPER_ADMIN_PASSWORD=Admin@12345!
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_service_role_key
SUPABASE_BUCKET=notes

# Upstash Redis Connection URL
UPSTASH_REDIS_URL=rediss://default:your_upstash_redis_password@your-upstash-endpoint.upstash.io:6379
